/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */

/* Regular */
@font-face {
  font-family: "montserratRegular";
  src: url("../font/montserratalternates-regular.woff2") format("woff2"),
    url("../font/montserratalternates-regular.woff") format("woff");
}

@font-face {
  font-family: "montserratBold";
  src: url("../font/montserratalternates-bold.woff2") format("woff2"),
    url("../font/montserratalternates-bold.woff") format("woff");
}

@font-face {
  font-family: "montserratItalic";
  src: url("../font/montserratalternates-italic.woff2") format("woff2"),
    url("../font/montserratalternates-italic.woff") format("woff");
}

/* Colores */

:root {
  /* Colores */
  --color-bgMenu: #25262A;
  --color-bgBody: #F9F9F9;
  --color-linkAction: #fdfdfd;
  --color-link: #9c9c9c;
  /* Size */
  --size-screen: 1366px;
}

a {
  color: var(--color-link);
}

a:hover {
  color: var(--color-linkAction);
}

.action {
  color: var(--color-linkAction);
  text-decoration: underline;
}

/* ******************************** */

html {
  font-size: 16px;
  font-family: montserratRegular, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bgBody);
}

.container {
  width: 100%;
  max-width: var(--size-screen);
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  background-color: var(--color-bgMenu);
}

.logotipo {
  & .logotipo__logo {
    font-family: montserratBold;
  }
}

.menu {
  display: flex;
  gap: 20px;
  /* 
  .menu__home {
  }
  .menu__product {
  }
  .menu_aboutus {
  }
  .menu_contacts {
  } */
}

.ecommerce {
  display: flex;
  gap: 20px;

  & .ecommerce__carrito {
    background: linear-gradient(
      180deg;
      #fff 50%
      #25262a 50%
      #25262a 100%
    );
  }
  /* 
  & .ecommerce__lupa {
  }
   */
}



  /* *********************************** */
  /* **************MAIN*************** */
  /* *********************************** */

  main{
    columns: 2;
    column-gap: 30px;
    
    & img{
      padding: 20px 0;
    }
    
    padding: 100px 50px;

    & p{
      text-align: justify;
    }
  }

  /* *********************************** */
  /* **************FOOTER*************** */
  /* *********************************** */
  
  footer{
    width: 100%;
    background: linear-gradient(180deg, #F9F9F9 0%, #F9F9F9 10%, #25262A 10%, #25262A 100%, #25262A 100%);
    display: flex;
    justify-content: center;
    color: #F9F9F9;
    
  }
  
  .footerimg {
    display: flex;
    justify-content: space-between;
    
    & footerimg__img1 {
    }
    & footerimg__img2 {
    }
    & footerimg__img3 {
    }
    & footerimg__img4 {
    }
  }
  
  /* SECTION CENTRAL */

  .footerdescripcion {
    margin: 80px 0;
    columns: 5;


    & .footerdescripcion__logoDes {
      
    }
    & .footerdescripcion__Support {
    }
    & .footerdescripcion__Shop {
      
    }
    & .footerdescripcion__Company {
    }
    & .footerdescripcion__ContactUs {
      & li{
        display: flex;
        gap: 10px;
      }
    }
  }
  .logodescripcion {
    margin-bottom: 15px;
  }
  .logo {

  }
  .rrss {
    display: flex;
    gap: 10px;
    & .rrss__facebook{

    }
    & .rrss__x{

    }
    & .rrss__youtube{

    }
  }
  .tituloLi {
    margin-bottom: 20px;
    font-weight: 900;
    text-transform: capitalize;
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .copyright__copy {
    }
    & .copyright__tarjetas {
      display: flex;
      gap: 10px;
    }
  }

  /* ********************
  .tarjetas {
    & .tarjetas__americanExpress {
    }
    & .tarjetas__stripe {
    }
    & .tarjetas__masterCard {
    }
    & .tarjetas__visa {
    }
    & .tarjetas__paypal {
    }
  }
  *************** */